html {
  font-family: 'Montserrat', sans-serif;
}
#contenedor-basico {
  /* width: 500px;
  height: 500px; */
  margin: auto;
  padding: 5px;
  background-color: rgba(144, 238, 175, 0.5);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 30px;
}
