html {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}
h3,
p {
  font-weight: 300;
}
input,
textarea,
label {
  font-style: italic;
}
.btn {
  color: black;
  border-color: black;
  &:hover {
    color: black;
  }
}

.page-item .page-link {
  color: black;
  font-weight: 300;

  /* &:active {
    background-color: grey;
  } */
}
.page-item.active .page-link {
  background-color: lightgrey;
  border-color: lightgrey;
  color: black;
}

#contenedor-basico,
#contenedor-intermedio,
#contenedor-avanzado {
  margin-bottom: 30px;
  padding: 10px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  border: solid grey 1px;
}
#contenedor-basico {
  background-color: rgba(168, 224, 185, 0.3);
}

#contenedor-intermedio {
  background-color: rgba(236, 231, 148, 0.3);
}

#contenedor-avanzado {
  background-color: rgba(218, 119, 106, 0.3);
}
